body{
  background-color:#0d1d1f;
  background-image: linear-gradient(to top right, #123b40, #080808);
  color: #E9ECF5; 
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #0d1d1f;
  background-image: linear-gradient(to top right, #0c2327, #050505);
  padding:5px;
  overflow: hidden;
}

/*so what do you think? i honistly cannot choose */
/*I think probably dark */
/* dark blue background? I was just seeing how it looked on the site since it is in the picture, but if you want we could do that as well
/* Style the links inside the navigation bar */
.topnav a {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  color: #edf2f4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #566b8c;
  color: white;
  border-radius:15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e79915;
  color: black;
  border-radius:10px;
}

.welcome{
  text-align: center;
  text: #edf2f4; 
}